
<!-- show -->
<div class="navbar">
  <%= link_to "Mister Cocktail", cocktails_path%>
</div>
<div class= "background-show" >
  <div class="content-cocktail-title">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class= "container-show">
    <div class="card_image">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="card_show">
      <h1>Ingredients</h1>
      <div class="content-ingredients">
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> <%= dose.ingredient.name %>
          </li>
          <%= link_to "Delete a dose", dose_path(dose),  method: :delete, data: {confirm: "Are you sure?"}, class:"btn_delete" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bot_btn">
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class:"my_btn_show"%>
  </div>
</div>


